
<%= simple_form_for @potential_user, html: { class: "form", data: { controller: "tasks"}} do |f| %>
  <%= f.input :first_name, input_html: { autofocus: true, class: "form-field" }, label: "First Name"  %>
  <%= f.input :surname, input_html: { class: "form-field" } %>
  <%= f.input :email, input_html: { class: "form-field" } %>
  <%= f.input :county, collection: PotentialUser::COUNTIES, prompt: "- Select -", input_html: { class: "form-field"} %>
  <%= f.input :role, collection: PotentialUser::ROLES, prompt: "- Select -", input_html: { class: "form-field", data: { action: "change->tasks#showRelevantTasks"} } %>

  <div>
    <h4 class="task-list-title hidden" data-tasks-target="tasksHeader">What tasks are you interested in?</h4>
    <div class="task-list">
      <% PotentialUser::TASKS.each do |category, tasks| %>
        <div class="hidden" data-tasks-target="<%= category.split(" ").first %>">
          <h4><%= category %></h4>
          <%= f.input :tasks,
                      as: :check_boxes,
                      label: false,
                      collection: tasks,
                      wrapper_html: {class: "checkbox-container"},
                      include_hidden: false %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.input :terms_of_service,
                as: :boolean,
                label: sanitize("I have read and agree to the #{link_to "GDPR notice", gdpr_path}, and I consent to the collection and use of my personal data as described therein."),
                wrapper_html: { class: "form-gdpr-container"},
                label_html: { class: "form-gdpr-consent"} %>
  </div>
  <div class="form-submit">
    <%= f.submit 'Submit', class: "btn btn--primary" %>
  </div>
<% end %>
