
<%= simple_form_for @potential_user, html: { class: "form"} do |f| %>
  <%= f.input :name, input_html: { autofocus: true, class: "form-field" }  %>
  <%= f.input :surname, input_html: { class: "form-field" } %>
  <%= f.input :email, input_html: { class: "form-field" } %>
  <%= f.input :role, collection: PotentialUser::ROLES, prompt: "- Select -", input_html: { class: "form-field" } %>
  <%= f.input :county, collection: PotentialUser::COUNTIES, prompt: "- Select -", input_html: { class: "form-field"} %>

  <%= f.input :tasks, as: :check_boxes,
                      collection: PotentialUser::TASKS,
                      include_hidden: false,
                      label: "What tasks are you interested in performing?",
                      wrapper_html: { class: "checkbox-container"} %>

  <%= f.input :terms_of_service, as: :boolean, label: sanitize("I have read and agree to the #{link_to "GDPR notice", gdpr_path}, and I consent to the collection and use of my personal data as described therein."),
                                               label_html: { class: "form-gdpr-consent"} %>

  <div class="form-submit">
    <%= f.submit 'Submit', class: "btn btn--primary" %>
  </div>
<% end %>
