
<tr>
  <td><%= potential_user.id %></td>
  <td><%= potential_user.first_name %></td>
  <td><%= potential_user.surname %></td>
  <td><%= potential_user.email %></td>
  <td><%= potential_user.county %></td>
  <td><%= potential_user.tasks.join(", ") %></td>
</tr>
