<nav class="navbar" data-controller="navbar">
  <div class="navbar__logo">
    <%= image_tag "farm-match-logo.png" %>
    <%= link_to root_path do %>
      <h1>FARM MATCH</h1>
    <% end %>
  </div>

  <div class="navbar__options" data-navbar-target="navbarLinks" data-action="resize@window->navbar#navbarToggle">
    <p> <%= link_to "How it Works", root_path(anchor: 'how-it-works') %></p>
    <p> <%= link_to "Farmers", root_path(anchor: 'farmers-and-contractors') %></p>
    <p> <%= link_to "Agri Contractors & Farm Workers", root_path(anchor: 'farmers-and-contractors') %></p>
  </div>

  <button class="burger-button" data-navbar-target="burgerButton" data-action="click->navbar#menuToggle">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<div class="banner">
  <div class="title-container">
    <h1 class="title banner__title">FARM <br>MATCH</h1>
  </div>
  <div class="banner__tagline">
    We connect Farmers with skilled Agri Contractors <br> and Farm Workers in Ireland
  </div>

  <div class="banner__join-us">
    <%= link_to register_your_interest_path do %>
      <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
    <% end %>
  </div>
</div>


<main data-controller="section">
  <div class="why-us">
    <div class="why-us__header">
      <h2 class="title section__title section__title--green">OUR SOLUTION</h2>
    </div>
    <div class="why-us__body">
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Operating costs on Irish farms have increased dramatically in recent years.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          The entire Irish agricultural sector has faced unprecedented labour shortages.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Farm Match allows Farmers to post a job to the community directly.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Interested Agri Contractors and Farm Workers can respond with their quotations.
        </p>
      </div>
    </div>

    <div class="farm-images">
      <%= image_tag "farmer.jpg" %>
      <%= image_tag "tractor_and_grass.jpg" %>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>
  </div>

  <section class="why-sign-up why-and-how" data-section-target="sectionBackground" id="farmers-and-contractors">
    <div class="why-sign-up__header why-and-how-header">
      <h2 class="title section__title">BENEFITS OF JOINING</h2>
      <div class="category-buttons">
        <button data-category="farmers"
                class="btn btn--tertiary"
                data-section-target="farmersButton"
                data-action="click->section#selectSection">FARMERS</button>
        <button data-category="contractors"
                class="btn btn--flip"
                data-section-target="contractorsButton"
                data-action="click->section#selectSection">AGRI CONTRACTORS & FARM WORKERS</button>
      </div>
    </div>

    <%# REASONS FOR FARMERS (can be switched with REASONS FOR CONTRACTORS) %>
    <div id="why-farmers" data-section-target="whyFarmersSection">
      <div class="reasons">
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-thumbs-up"></i>
          </div>
          <h2>Easy to Use</h2>
          <p>Simply post your task on the website & wait for the responses to come in!</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-clock"></i>
          </div>
          <h2>Save Time</h2>
          <p>No more ringing around contractors or advertising in classifieds</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-solid fa-piggy-bank"></i>
          </div>
          <h2>Save Money</h2>
          <p>Compare quotes to get competitive pricing & get better value for money</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-trash-can"></i>
          </div>
          <h2>No Spam</h2>
          <p>Match with Agri Contractors & Farm Workers interested in your task</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h2>Peer Reviewed</h2>
          <p>Review the work & help build a reliable Agri network </p>
        </div>
      </div>
    </div>

    <%# REASONS FOR CONTRACTORS (can be switched with REASONS FOR FARMERS)%>
    <div class="hidden" id="why-contractors" data-section-target="whyContractorsSection">
      <div class="reasons">
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-regular fa-thumbs-up"></i>
          </div>
          <h2>Easy to Use</h2>
          <p>Want the task? Then simply express interest in it on the website </p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-regular fa-clock"></i>
          </div>
          <h2>Save Time</h2>
          <p>Our algorithm ensures you're matched with tasks that fit your preferences</p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-piggy-bank"></i>
          </div>
          <h2>Make Money </h2>
          <p>Get access to more opportunities and increase your income</p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h2>Increased Visibility</h2>
          <p>Get increased recognition and expand your customer base</p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-medal"></i>
          </div>
          <h2>Build a Reputation </h2>
          <p>Get farmer feedback & enhance your reputation for future opportunities</p>
        </div>
      </div>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>

  </section>

  <section class="how-it-works container why-and-how">
    <div class="how-it-works__header why-and-how-header" id="how-it-works">
      <h2 class="title section__title section__title--green">HOW IT WORKS</h2>

      <div class="category-buttons">
        <button data-category="farmers"
                class="btn btn--tertiary"
                data-section-target="farmersButton"
                data-action="click->section#selectSection">FARMERS</button>
        <button data-category="contractors"
                class="btn btn--flip"
                data-section-target="contractorsButton"
                data-action="click->section#selectSection">AGRI CONTRACTORS & FARM WORKERS</button>
      </div>
    </div>

    <div id="how-farmers" data-section-target="howFarmersSection">
      <div class="three-steps container">
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--green" data-section-target="circle">
              <h2>1</h2>
            </div>
            <h1>Post a task</h1>
          </div>
          <div class="card__body">
            <h4>Need a task done on your farm?</h4>
            <p>
              No problem! Just specify your task on our website & give us some basic details of what you need done.
            </p>
            <p>
              Leave the rest to Farm Match!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--green" data-section-target="circle">
              <h2>2</h2>
            </div>
            <h1>Get matched</h1>
          </div>
          <div class="card__body">
            <h4>Match made in heaven!</h4>
          <p>
           Our algorithm matches your task with Agri Contractors & Workers. Review profiles, shortlist candidates, and they'll contact you to discuss details and pricing.
          </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--green" data-section-target="circle">
              <h2>3</h2>
            </div>
            <h1>Review task</h1>
          </div>
          <div class="card__body">
            <h4>Reward honest and reliable service</h4>
            <p>
              Once the task is complete, you will be asked to rate it. Your feedback helps build a reliable community of Agri Contractor or Farm Workers.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden" id="how-contractors" data-section-target="howContractorsSection">
      <div class="three-steps container">
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--yellow">
              <h2>1</h2>
            </div>
            <h1>Set up a profile</h1>
          </div>
          <div class="card__body">
            <h4>Want more work?</h4>
            <p>
              Simply create a profile telling us what type of tasks you want to do & how far you are willing to travel.
            </p>
            <p>
              Leave the rest to Farm Match!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--yellow">
              <h2>2</h2>
            </div>
            <h1>Get matched</h1>
          </div>
          <div class="card__body">
            <h4>Win the task!</h4>
          <p>
            Get notified of tasks in your area & express interest. If shortlisted, pay a small fee for contact details, then discuss the task & pricing directly to win the job!
          </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle card__circle--yellow">
              <h2>3</h2>
            </div>
            <h1>Get reviewed</h1>
          </div>
          <div class="card__body">
            <h4>Build a reputation</h4>
            <p>
              Once the task is complete, the farmer will be asked to review your performance. Get a 5 Star Rating & gain even more opportunities in the future.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>

  </section>
</main>
