<nav class="navbar" data-controller="navbar">
  <div class="navbar__logo">
    <%= image_tag "farm-match-logo.png" %>
    <%= link_to root_path do %>
      <h1>FARM MATCH</h1>
    <% end %>
  </div>

  <div class="navbar__options" data-navbar-target="navbarLinks" data-action="resize@window->navbar#navbarToggle">
    <p> <%= link_to "How it works", root_path %></p>
    <p> <%= link_to "Farmers", root_path %></p>
    <p> <%= link_to "Agri Contractors & Farm Workers", root_path %></p>
  </div>

  <button class="burger-button" data-navbar-target="burgerButton" data-action="click->navbar#menuToggle">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<div class="banner">
  <div class="title-container">
    <h1 class="title banner__title">FARM <br>MATCH</h1>
  </div>
  <div class="banner__tagline">
    We connect Farmers with skilled Agri Contractors <br> and Farm Workers in Ireland
  </div>

  <div class="banner__join-us">
    <%= link_to register_your_interest_path do %>
      <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
    <% end %>
  </div>
</div>


<main data-controller="section">
  <div class="why-us">
    <div class="why-us__header">
      <h2 class="title section__title section__title--green">WHY FARM MATCH?</h2>
    </div>
    <div class="why-us__body">
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Operating costs on Irish farms have increased dramatically in recent years.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          The entire Irish agricultural sector has faced unprecedented labour shortages.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Farm Match allows Farmers to post a job to the community directly.
        </p>
      </div>
      <div>
        <i class="fa-regular fa-hand-point-right"></i>
        <p>
          Interested Agri Contractors and Farm Workers can respond with their quotations.
        </p>
      </div>
    </div>

    <div class="farm-images">
      <%= image_tag "farmer.jpg" %>
      <%= image_tag "tractor_and_grass.jpg" %>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>
  </div>

  <hr class="separator-line--gray">

  <section class="why-sign-up why-and-how">
    <div class="why-sign-up__header why-and-how-header">
      <h2 class="title section__title">WHY SIGN UP?</h2>
      <div class="toggle">
        <i class="fa-solid fa-toggle-on"></i>
        <i class="fa-solid fa-toggle-off"></i>
      </div>
      <div class="title-buttons">
        <h4 id="farmers-button" data-section-target="whyFarmersTitle" data-action="click->section#toggleSection">FARMERS</h4>
        <h4 id="contractors-button" data-section-target="whyFarmersTitle" data-action="click->section#toggleSection">AGRI CONTRACTORS & FARM WORKERS</h4>
      </div>
    </div>

    <%# REASONS FOR FARMERS (can be switched with REASONS FOR CONTRACTORS) %>
    <div id="why-farmers" data-section-target="whyFarmersSection">
      <div class="reasons">
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-thumbs-up"></i>
          </div>
          <h2>Easy to Use</h2>
          <p>Simply post your task on the website & wait for the responses to come in!</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-clock"></i>
          </div>
          <h2>Save Time</h2>
          <p>No more ringing around contractors or advertising in classifieds</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-solid fa-piggy-bank"></i>
          </div>
          <h2>Save Money</h2>
          <p>Compare quotes to get competitive pricing & get better value for money</p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-regular fa-trash-can"></i>
          </div>
          <h2>No Spam</h2>
          <p>Our algorithm matches you only with Agri Contractors & Farm Workers who have express a direct interest in your task </p>
        </div>
        <div class="reason-card reason-card--farmers">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h2>Peer Reviewed</h2>
          <p>Leave a review once the work is done & help build a reliable Agri Contractors & Farmer Workers </p>
        </div>
      </div>
    </div>

    <%# REASONS FOR CONTRACTORS (can be switched with REASONS FOR FARMERS)%>
    <div class="hidden" id="why-contractors" data-section-target="whyContractorsSection">
      <div class="reasons">
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-regular fa-thumbs-up"></i>
          </div>
          <h2>Easy to Use</h2>
          <p>Want the task? Then simply express interest in it on the website </p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-regular fa-clock"></i>
          </div>
          <h2>Save Time</h2>
          <p>Our algorithm ensures you're matched with tasks that fit your preferences</p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-piggy-bank"></i>
          </div>
          <h2>Make Money </h2>
          <p>Allows you access to more task opportunities so you can increase your income</p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h2>Increased Visibility</h2>
          <p>Our algorithm matches you only with Agri Contractors & Farm Workers who have express a direct interest in your task </p>
        </div>
        <div class="reason-card reason-card--contractors">
          <div>
            <i class="fa-solid fa-medal"></i>
          </div>
          <h2>Build a Reputation </h2>
          <p>Receive reviews from farmers after completing tasks & build a positive reputation leading to more work opportunities  </p>
        </div>
      </div>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary" data-section-target="contractorsButton">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>

  </section>

  <hr class="separator-line--gray">

  <section class="how-it-works container why-and-how">
    <div class="how-it-works__header why-and-how-header">
      <h2 class="title section__title section__title--green">HOW DOES IT WORK?</h2>

      <div class="title-buttons">
        <h4 id="farmers-button" data-section-target="whyFarmersTitle" data-action="click->section#toggleSection">FARMERS</h4>
        <h4 id="contractors-button" data-section-target="whyFarmersTitle" data-action="click->section#toggleSection">AGRI CONTRACTORS & FARM WORKERS</h4>
      </div>
    </div>

    <div id="how-farmers" data-section-target="howFarmersSection">
      <div class="three-steps container">
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>1</h2>
            </div>
            <h1>Post a task</h1>
          </div>
          <div class="card__body">
            <h4>Need a task done on your farm?</h4>
            <p>
              No problem! Just specify your task on our website & give us some basic details of what you need done.
            </p>
            <p>
              Leave the rest to Farm Match!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>2</h2>
            </div>
            <h1>Get matched</h1>
          </div>
          <div class="card__body">
            <h4>Match made in heaven!</h4>
          <p>
            Our algorithm pairs your task with interested Agri Contractors & Farm Workers.
            Review their profiles & shortlist your preferred candidates. Your contact details will only be revealed to shortlisted candidates. They will then contact you & discuss the task & pricing in detail.
          </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>3</h2>
            </div>
            <h1>Review the task</h1>
          </div>
          <div class="card__body">
            <h4>Reward honest and reliable service</h4>
            <p>
              Once the task is complete, you will be asked to rate it. Your feedback helps build a reliable community of Agri Contractor or Farm Workers.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden" id="how-contractors" data-section-target="howContractorsSection">
      <div class="three-steps container">
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>1</h2>
            </div>
            <h1>Set up a profile</h1>
          </div>
          <div class="card__body">
            <h4>Want more work?</h4>
            <p>
              Simply create a profile telling us what type of tasks you want to do & how far you are willing to travel.
            </p>
            <p>
              Leave the rest to Farm Match!
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>2</h2>
            </div>
            <h1>Get matched</h1>
          </div>
          <div class="card__body">
            <h4>Win the task!</h4>
          <p>
            Get notified when a suitable task appears in your area & express interest in it.
            If shortlisted by the farmer, then for a small fee, you will receive the farmers contact details. Contact the farmer directly to discuss the task & pricing in detail. Take the opportunity to promote yourself & win the task!
          </p>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__circle">
              <h2>3</h2>
            </div>
            <h1>Get reviewed</h1>
          </div>
          <div class="card__body">
            <h4>Build a reputation</h4>
            <p>
              Once the task is complete, the farmer will be asked to review your performance. Get a 5 Star Rating & gain even more opportunities in the future.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="join">
      <%= link_to register_your_interest_path do %>
        <button class="btn btn--primary">JOIN THE WAITING LIST!</button>
      <% end %>
    </div>

  </section>
</main>
