<!DOCTYPE html>
<html>
  <head>
    <title>FarmMatchInterestPage</title>
    <%= favicon_link_tag 'farm-match-favicon.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4df3c5e5eb.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

     <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
